.slide-wrapper {
  min-height: 100vh;
  max-width: 730px;
  padding: 45px 0;
  form {
    flex: 1;
  }
  .slide-header {
    .logo {
      margin: 0 !important;
    }
  }
  .slide-body {
    legend {
      font-size: 28px;
      line-height: 100%;
      color: #191933;
      margin-bottom: 16px;
      & + p {
        color: #8184a3;
        font-size: 18px;
        line-height: 100%;
        margin-bottom: 40px;
      }
    }
    &.slide-1 {
      .form-checkbox-wrapper {
        grid-template-columns: repeat(auto-fill, minmax(325px, 1fr));
        gap: 10px;
        .label-wrapper {
          input {
            position: absolute;
            display: none;
            opacity: 0;
            &:checked + label {
              background: #f2f1ff;
              border: 1px solid #4a3aff;
            }
          }
          label {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            cursor: pointer;
            background: #ffffff;
            border: 1px solid #ffffff;
            box-shadow: 0px 0px 24px rgba(74, 58, 255, 0.1);
            border-radius: 8px;
            font-size: 16px;
            line-height: 33px;
            height: 56px;
            padding: 14px 30px 14px 30px;
            color: #191933;
            transition: all 0.2s ease-in-out;
            .checkbox-icon {
              margin-right: 10px;
              img {
                max-width: 35px;
              }
            }
            &:hover {
              border-color: #4a3aff;
            }
          }
        }
      }
      textarea {
        background: #fdfeff;
        border: 1px solid #4a3aff;
        border-radius: 8px;
        font-size: 16px;
        line-height: 33px;
        height: 100px;
        resize: none;
        color: #8184a3;
        width: 100%;
        padding: 12px 30px;
        margin-top: 10px;
        &::placeholder {
          color: #8184a3;
          font-style: normal;
          font-weight: 400;
        }
      }
    }
    &.slide-2 {
      .form-wrapper {
        gap: 10px;
        .label-wrapper {
          input {
            position: absolute;
            display: none;
            opacity: 0;
            &:checked + label {
              background: #f2f1ff;
              border: 1px solid #4a3aff;
            }
          }
          label {
            cursor: pointer;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            background: #ffffff;
            border: 1px solid #ffffff;
            box-shadow: 0px 0px 24px rgba(74, 58, 255, 0.1);
            border-radius: 8px;
            font-size: 16px;
            min-height: 90px;
            padding: 17px 20px;
            color: #191933;
            transition: all 0.2s ease-in-out;
            .radio-icon {
              margin-right: 20px;
              img {
                max-width: 56px;
              }
            }
            span {
              strong {
                color: #191933;
                font-weight: 600;
                font-size: 18px;
              }
              span {
                font-size: 14px;
                line-height: 33px;
                color: #8184a3;
              }
            }
            &:hover {
              border-color: #4a3aff;
            }
          }
        }
      }
    }
    &.slide-3 {
      legend {
        margin-bottom: 40px;
      }
      .form-wrapper {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 10px;
        .label-wrapper {
          &:first-of-type {
            input {
              &:checked + label {
                &::after {
                  transform: translateX(-19.5px) translateY(-1.5px) scale(0.55) !important;
                }
              }
            }
            label {
              &::after {
                transform: translateX(-19.5px) translateY(-1.5px) scale(0) !important;
              }
            }
          }
          input {
            position: absolute;
            display: none;
            opacity: 0;
            &:checked + label {
              background: #f2f1ff;
              border: 1px solid #4a3aff;
              &::before {
                border-color: #4a3aff;
              }
              &::after {
                transform: translateX(-18px) translateY(-1.5px) scale(0.55);
              }
            }
          }
          label {
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #ffffff;
            border: 1px solid #ffffff;
            box-shadow: 0px 0px 24px rgba(74, 58, 255, 0.1);
            border-radius: 8px;
            font-size: 18px;
            height: 56px;
            color: #191933;
            transition: all 0.2s ease-in-out;
            position: relative;
            &::before {
              content: "";
              position: relative;
              width: 14px;
              height: 14px;
              background-color: transparent;
              border: 1px solid #4a3aff;
              border-radius: 50%;
              margin-right: 10px;
              margin-top: -3px;
              transition: all 400ms ease;
            }
            &::after {
              content: "";
              position: absolute;
              width: 22px;
              height: 22px;
              background-color: #4a3aff;
              border: 2px solid #4a3aff;
              border-radius: 50%;
              transform: translateX(-18px) translateY(-1.5px) scale(0);
              transition: transform 400ms ease;
            }
            &:hover {
              border-color: #4a3aff;
            }
          }
        }
      }
      .form-group {
        display: flex;
        margin-top: 30px;
        flex-direction: column;
        label {
          font-size: 18px;
          line-height: 33px;
          color: #191933;
          margin-bottom: 10px;
        }
        input {
          background: #fdfeff;
          border: 1px solid #bfc3f0;
          border-radius: 8px;
          height: 56px;
          font-size: 18px;
          padding: 12px 24px;
          width: 100%;
          &::placeholder {
            color: #bfc3f0;
          }
        }
      }
    }
    &.slide-5 {
      legend {
        & + p {
          line-height: 160%;
        }
      }
      fieldset > .form-group {
        margin-bottom: 20px;
      }
      .form-group-wrapper {
        gap: 10px;
        .form-group {
          margin-bottom: 0 !important;
          flex: 1 !important;
          min-width: 300px !important;
        }
      }
      .form-group {
        label {
          font-size: 16px;
          line-height: 30px;
          color: #8184a3;
          font-weight: 400;
          margin-bottom: 4px;
        }
        .input-group {
          .input-group-prepend {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            border-radius: 8px 0px 0px 8px;
            border: 1px solid #bfc3f0;
            background: #fdfeff;
            padding: 17px;
            line-height: 100%;
            height: 56px;
            img {
              margin-right: 8px;
              max-width: 24px;
            }
            span {
              font-weight: 400;
              font-size: 18px;
              line-height: 100%;
              color: #8184a3;
            }
          }
          input {
            width: 1%;
          }
        }
        input {
          background: #fdfeff;
          border: 1px solid #bfc3f0;
          border-radius: 8px;
          height: 56px;
          font-size: 18px;
          padding: 12px 24px;
          flex: 1 1 auto;
          &::placeholder {
            color: #8184a3 !important;
          }
        }
      }
    }
    &.slide-thanks {
      h2 {
        line-height: 150%;
        margin-top: 30px;
        text-align: center;
      }
    }
  }
  .slide-footer {
    button {
      border-radius: 10px;
      border: none;
      height: 56px;
    }
    .btn-next {
      flex: 1;
      background: #4a3aff;
      font-weight: 600;
      font-size: 18px;
      line-height: 100%;
      letter-spacing: 0.5px;
      color: #ffffff;
      transition: backgroundColor 0.3s ease-in-out;
      &:hover {
        background-color: #3022cd;
      }
    }
    .btn-back {
      width: 90px;
      background: #bbbae7;
      transition: all 0.3s ease-in-out;
      &:hover {
        background-color: rgba(21, 28, 52, 0.15);
        img {
          transform: translate(-10px);
        }
      }
      img {
        transition: transform 0.2s ease-in-out;
        max-width: 24px;
      }
    }
  }
}
