.slide-wrapper {
  .progress {
    border-radius: 15px;
    background: #ffffff;
    height: 10px;
    .progress-bar {
      background: #4a3aff;
      width: 20%;
      will-change: width;
      transition: width 0.9s cubic-bezier(0.68, -0.55, 0.27, 1.55);
      -webkit-transition: width 0.9s cubic-bezier(0.68, -0.55, 0.27, 1.55);
      -moz-transition: width 0.9s cubic-bezier(0.68, -0.55, 0.27, 1.55);
      -ms-transition: width 0.9s cubic-bezier(0.68, -0.55, 0.27, 1.55);
      -o-transition: width 0.9s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    }
  }
}
