.range {
  margin-top: 99px;
  position: relative;
  .range__value {
    background: #4a3aff;
    border-radius: 4px;
    padding: 9px 15px;
    font-size: 14px;
    color: #ffffff;
    position: absolute;
    left: 31%;
    transform: translateX(-50px);
    top: -60px;
    height: 32px;
    line-height: 100%;
    width: 120px;
    text-align: center;
    will-change: left;
    &.mobile-left {
      transform: translateX(0px);
      &::after {
        left: 10px;
        right: auto;
      }
    }
    &.mobile-right {
      transform: translateX(-89px);
      &::after {
        left: auto;
        right: 10px;
      }
    }
    &::after {
      content: "";
      border-style: solid;
      border-width: 10px;
      border-color: transparent;
      border-top-color: #4a3aff;
      position: absolute;
      border-bottom: 0;
      bottom: -9px;
      border-right-color: transparent !important;
      border-left-color: transparent !important;
      width: 0;
      height: 0;
      left: calc(50% - 5px);
      border-right-width: 6px;
      border-left-width: 6px;
    }
  }
}
.range__slider [type="range"] {
  box-shadow: none !important;
  width: 100%;
  -webkit-appearance: none;
  height: 16px !important;
  border-radius: 4px;
  border: 0 !important;
  background: #fff;
  outline: none;
  padding: 0;
  margin: 0;
}

/* custom thumb */
.range__slider [type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  box-shadow: none !important;
  appearance: none;
  width: 28px;
  height: 28px !important;
  border-radius: 50%;
  border: 0 !important;
  background: #d9d9d9;
  cursor: pointer;
  -webkit-transition: background 0.15s ease-in-out;
  transition: background 0.15s ease-in-out;
}

// .range__slider [type="range"]::-webkit-slider-thumb:hover {
//   background: #4a3aff;
// }

.range__slider [type="range"]::-moz-range-thumb {
  width: 28px;
  height: 28px !important;
  border: 0 !important;
  border-radius: 50%;
  background: #d9d9d9;
  cursor: pointer;
  -webkit-transition: background 0.15s ease-in-out;
  transition: background 0.15s ease-in-out;
}
.range__slider [type="range"]::-moz-range-track {
  box-shadow: none !important;
  width: 100% !important;
  height: auto !important;
  background: #d9d9d9 !important;
  cursor: pointer !important;
  border-radius: 50% !important;
  border: 0 !important;
  box-shadow: none !important;
}

// .range__slider [type="range"]::-moz-range-thumb:hover {
//   background: #4a3aff;
// }

/* remove border */
input::-moz-focus-inner,
input::-moz-focus-outer {
  border: 0;
}
